<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Add this line -->
    <title>Travel Planner</title>
</head>
<body>

<header>
    <div class="icon">
        <img src="../media/airplane.png" alt="news icon">
    </div>
    <div class="title">
        <h1>Travel Planner</h1>
    </div>
    <div id="spacer"></div>
</header>

<main>
    <div class="container">
        <section>
            <form onsubmit="Client.handleSubmit(event)">
                <label for="destination">Destination:</label>
                <input type="text" id="destination" class="trip-destination" placeholder="The place you want to go:">
                <label for="start">Departing date:</label>
                <input type="datetime-local" id="start" name="trip-start"/>
                <input type="submit" value="Submit" class="submit-button">
            </form>
        </section>

        <section>
            <div id="card-list"></div>
        </section>
    </div>
</main>

<footer>
    <p>&copy; 2024 Travel Planner. All rights reserved.</p>
</footer>

</body>
</html>
