@import 'variables';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color-neutral;
    font-family: 'Open Sans', sans-serif;
    color: $color-text;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px $color-box-shadow;
}