@import "variables";

.card {
  background: $color-background;
  border-radius: 5px;
  box-shadow: 0 2px 5px $color-box-shadow;
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
  overflow: hidden;

  img {
    max-width: 350px;
    margin-right: 20px;
    border-radius: 3px;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
      line-height: 1.4;
    }

    .destination {
      font-size: 1.2em;
      font-weight: bold;
      color: $color-text;
      margin-bottom: 5px;
    }

    .departure {
      font-size: 1em;
      font-weight: normal;
      color: lighten($color-text, 15%);
      margin-bottom: 5px;
    }

    .countdown {
      font-size: 0.9em;
      font-weight: normal;
      color: lighten($color-text, 15%);
      margin-bottom: 5px;
    }

    .weather {
      font-size: 0.9em;
      font-weight: bold;
      color: lighten($color-primary, 15%);
      margin-bottom: 2px;
    }

    .temperature {
      font-size: 0.85em;
      font-weight: normal;
      color: lighten($color-text, 35%);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    img {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

#card-list {
  @media (max-width: 768px) {
    .card {
      margin: 20px 10px;
    }
  }
}
