header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    color: #fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 20px;
}

.icon img, #spacer{
    width: 30px;
}

.title {
    text-align: center;
}